.myBtn {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 18px 30px;
    min-height: 30px;
    background: #384564;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.33;
}