.myBtn {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 18px 30px;
    min-height: 30px;
    background-color: #384564;
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    transition: all 0.3s ease 0s;
}

.myBtn:hover {
    background-color: #1c2232;
}